<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-account-login by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
<head>

    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main>
        <%- include('./partials/navigation.ejs') %>



        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Admin Sign-In</h4>
                    <form action="/index" method="post" onsubmit=" return validateForm()">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" type="text" id="email" name="email"></div> <!-- form-group// -->
                          
                        <div class="mb-3">                      
                            <input class="form-control" placeholder="Password" type="password" id="password" name="password"> </div> <!-- form-group// -->
                            <div class=" text-center text-danger">
                                
                            </div>
                           
                            <% if (typeof message1 !== "undefined") {%>
                                <% if(message1) { %>
                                <p class="alert alert-danger text-center"><%= message1 %></p>
                                <% }%>
                                

                                <% } else { %>
                                    <p class="alert alert-danger text-center d-none"><%= message1 %></p>
                                <% } %>
                            
                        <div class="mb-3">
                            <a href="/forgot-password" class="float-end font-sm text-muted">Forgot password?</a>
                            <label class="form-check">
                                <input type="checkbox" class="form-check-input" checked="">
                                <span class="form-check-label">Remember</span>
                            </label>
                        </div> <!-- form-group form-check .// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                    
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                document.write(new Date().getFullYear())
                </script>
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
   <%- include('./partials/footer.ejs') %>

   <script>

    function validateForm(){
        const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');

            const emailValue = emailInput.value.trim();
            const passwordValue = passwordInput.value.trim();

            if (emailValue === '') {
                Swal.fire({
                    icon: error,
                    title: "Email cannot be null"
                })
                return false;
            }

            if (passwordValue === '') {
                alert('Password cannot be empty');
                return false;
            }

            return true;
        }


   </script>

</body>


</html>