<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-orders-1 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
<%- include('./partials/header.ejs') %>


</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admindashboard" class="brand-wrap">
                <img src="assets/imgs/theme/logo.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admindashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                                  <a href="/page-products-list"> Product List</a>                 
                                                  
                                       
                        <a href="/page-categories">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-orders-1"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-orders-1" class="active">Order list </a>
                       
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                 <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin-user-page"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        
                  
                        <a href="/admin-user-page" class="">User-Details</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-form-product-3"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-form-product-3" class="">Add product </a>
                    </a>
               
                </li>
                <%- include('./partials/aside-2.ejs') %>

                <main class="main-wrap">
                    <section class="content-main">
                      <div class="content-header">
                        <div>
                          <h2 class="content-title card-title"> OFFER </h2>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="row" style="justify-content: center">
                            <div class="col-md-4">
                              <% if (locals.alert) { %>
                                <div class="text-danger text-center m-3" id="error">
                                  <%= locals.alert %>
                                </div>
                              <% } %>


                              <form action="/EditOffer?offerId=<%=Offer._id %>" method="post" onsubmit="return validateForm()">
                                <div class="mb-4">
                                  <label for="productSelect" class="form-label">Select Product or category</label>
                                  <select id="productSelect" disabled name="productSelect" class="form-control">
                                    <option value="" disabled>Select Product</option>
                                    <option value="product" <%= Offer.product ? 'selected' : '' %>>Product</option>
                                    <option value="Category" <%= Offer.category ? 'selected' : '' %>>Category</option>
                                  </select>
                                  <div id="dynamic-content"></div>
                                </div>

                                <!-- subNames -->
                                
                                <select  name="productSelect" class="form-control d-none">
                                  <option value="" disabled>Select Product</option>
                                  <option value="product" <%= Offer.product ? 'selected' : '' %>>Product</option>
                                  <option value="Category" <%= Offer.category ? 'selected' : '' %>>Category</option>
                                </select>

                                <label for="DiscountType" class="form-label d-none">Discount-Type</label>
                                <select  name="DiscountType" class="form-control d-none">
                                  <option value="" disabled>Discount-Type</option>
                                  <option value="Percentage" <%= Offer.discountPercent > 0 ? 'selected' : '' %>>Percentage</option>
                                  <option value="fixedPrice" <%= Offer.fixedRate > 0 ? 'selected' : '' %>>fixedPrice</option>
                                </select>



                                <% if (Offer.product) { %>
                                  <label for="productDetails" class="form-label">Select Product</label>
                                  <select id="productDetails" name="productDetails" class="form-control">
                                    <option value="" disabled>Select Product</option>
                                    <% products.forEach((product) => { %>
                                      <option value="<%= product._id %>" <%= Offer.productId== product._id ? 'selected' : '' %>><%= product.productname %></option>
                                    <% }) %>
                                  </select>
                                <% } else if (Offer.category) { %>
                                  <label for="categoryDetails" class="form-label">Select Category</label>
                                  <select id="categoryDetails" name="productDetails" class="form-control">
                                    <option value="" disabled>Select Category</option>
                                    <% categories.forEach((category) => { %>
                                      <option value="<%= category._id %>" <%= Offer.category.toString() === category._id.toString() ? 'selected' : '' %>><%= category.categoryname %></option>
                                    <% }) %>
                                  </select>
                                <% } %>
                
                                <div class="mb-4">
                                  <label for="DiscountType" class="form-label">Discount-Type</label>
                                  <select id="DiscountType" name="DiscountType" disabled class="form-control">
                                    <option value="" disabled>Discount-Type</option>
                                    <option value="Percentage" <%= Offer.discountPercent > 0 ? 'selected' : '' %>>Percentage</option>
                                    <option value="fixedPrice" <%= Offer.fixedRate > 0 ? 'selected' : '' %>>fixedPrice</option>
                                  </select>
                                  <div id="dynamic-content2"></div>
                
                                  <% if (Offer.discountPercent > 0) { %>
                                    <div class="mb-4">
                                      <label class="form-label">Percentage</label>
                                      <input placeholder="Enter The Discount Percentage" value="<%= Offer.discountPercent %>" name="percentage" class="form-control" id="percentage" onkeyup="validatePrice()">
                                      <span id="price-error" class="error-msg"></span>
                                    </div>
                                  <% } else { %>
                                    <div class="mb-4">
                                      <label class="form-label">Fixed Rate</label>
                                      <input placeholder="Enter The fixed Rate" value="<%= Offer.fixedRate %>" name="fixedRate" class="form-control" id="fixedRate" onkeyup="">
                                      <span id="price-error" class="error-msg"></span>
                                    </div>
                                  <% } %>
                
                                  <span id="code-error2" class="error-msg2"></span>
                                </div>
                
                                <div class="mb-4">
                                  <label for="max_amount" class="form-label">Maximum Discount</label>
                                  <input type="text" placeholder="0" name="max_amount" class="form-control" id="max_amount" min="0" value="<%= Offer.maxDiscountAmount %>" onkeyup="validateMaxAmount()" />
                                  <span id="max-amount-error" class="error-msg"></span>
                                </div>
                
                                <div class="mb-4">
                                  <label for="expiry_date" class="form-label">Expiry Date</label>
                                  <input type="date" name="expiry_date" class="form-control" id="expiry_date" value="<%= formattedExpiryDate %>" onchange="validateDate()">
                                  <span id="date-error" class="error-msg"></span>
                                </div>
                
                                <div class="d-grid">
                                  <button type="submit" class="btn btn-primary">Add Offer</button>
                                  <span id="submit-error" class="error-msg"></span>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </main>
                
                  <script>
                    document.getElementById("DiscountType").addEventListener("change", function() {
                      if (this.value == "Percentage") {
                        var DiscountType = `
                        <div class="mb-4">
                          <label class="form-label">Percentage</label>
                          <input placeholder="Enter The Discount Percentage" value="0" name="percentage" class="form-control" id="percentage" onkeyup="validatePrice()">
                          <span id="price-error" class="error-msg"></span>
                        </div>`;
                        document.getElementById("dynamic-content2").innerHTML = DiscountType;
                      } else if (this.value == "fixedPrice") {
                        DiscountType = `
                        <div class="mb-4">
                          <label class="form-label">Fixed Rate</label>
                          <input placeholder="Enter The fixed Rate" value="0" name="fixedRate" class="form-control" id="fixedRate" onkeyup="">
                          <span id="price-error" class="error-msg"></span>
                        </div>`;
                        document.getElementById("dynamic-content2").innerHTML = DiscountType;
                      }
                    });
                
                    document.getElementById("productSelect").addEventListener("change", function() {
                      if (this.value === "product") {
                        var newContent = `
                        <div class="mb-4">
                          <label for="productDetails" class="form-label">Select Product</label>
                          <select id="productDetails" name="productDetails" class="form-control">
                            <option value="" disabled selected>Select Product</option>
                            <% products.forEach((items) => { %>    
                            <option value="<%= items._id %>"><%= items.productname %></option>
                            <% }) %>
                          </select>
                        </div>`;
                        document.getElementById("dynamic-content").innerHTML = newContent;
                      } else if (this.value === "Category") {
                        newContent = `
                        <div class="mb-4">
                          <label for="categoryDetails" class="form-label">Select Category</label>
                          <select id="categoryDetails" name="productDetails" class="form-control">
                            <option value="" disabled selected>Select Category</option>
                            <% categories.forEach((items) => { %>    
                            <option value="<%= items._id %>"><%= items.categoryname %></option>
                            <% }) %>
                          </select>
                        </div>`;
                        document.getElementById("dynamic-content").innerHTML = newContent;
                      }
                    });
                
                    function validatePrice() {
                      var priceError = document.getElementById("price-error");
                      var price = document.getElementById("percentage")?.value.trim();
                      if (price.length === 0 || isNaN(price) || parseFloat(price) <= 0 || parseFloat(price) > 100) {
                        priceError.innerHTML = "Invalid entry";
                        priceError.style.color = "red";
                        return false;
                      }
                      priceError.innerHTML = "";
                      return true;
                    }
                
                    function validateMaxAmount() {
                      var maxAmountError = document.getElementById("max-amount-error");
                      var maxAmount = document.getElementById("max_amount").value.trim();
                      if (maxAmount.length === 0 || maxAmount < 1 || isNaN(maxAmount) || parseFloat(maxAmount) < 0) {
                        maxAmountError.innerHTML = "Invalid entry";
                        maxAmountError.style.color = "red";
                        return false;
                      }
                      maxAmountError.innerHTML = "";
                      return true;
                    }
                
                    function validateDate() {
                      var dateError = document.getElementById("date-error");
                      var dateInput = document.getElementById("expiry_date").value;
                      var currentDate = new Date();
                      var selectedDate = new Date(dateInput);
                      if (selectedDate <= currentDate) {
                        dateError.innerHTML = "Please select a future date";
                        dateError.style.color = "red";
                        return false;
                      }
                      dateError.innerHTML = "";
                      return true;
                    }
                
                    function validateForm() {
                      var isValid = true;
                      isValid &= validatePrice();
                      isValid &= validateMaxAmount();
                      isValid &= validateDate();
                
                      const percentage = parseFloat(document.getElementById("percentage")?.value) ?? 0;
                      const fixedRate = parseFloat(document.getElementById("fixedRate")?.value) ?? 0;
                      const productSelection = document.getElementById("productDetails")?.value ?? document.getElementById("categoryDetails")?.value ?? 0;
                
                      if ((percentage == null || percentage == 0) && (fixedRate == null || fixedRate == 0)) {
                        isValid = false;
                      }
                
                      if (productSelection == null || productSelection == 0 || productSelection == "undefined") {
                        const selectProduct = document.getElementById("productDetails") || document.getElementById("categoryDetails");
                        if (selectProduct) {
                          selectProduct.style.border = "1px solid red";
                        }
                        isValid = false;
                      }
                
                      var submitError = document.getElementById("submit-error");
                      if (!isValid) {
                        submitError.innerHTML = "Please enter all the fields correctly to submit";
                        submitError.style.color = "red";
                        return false;
                      } else {
                        submitError.innerHTML = "";
                        return true;
                      }
                    }
                  </script>
                  <%- include('./partials/footer.ejs') %>
                </body>
                </html>