<!DOCTYPE HTML>
<html lang="en">



<head>
<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/assets/css/deletethis.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js" integrity="sha512-JyCZjCOZoyeQZSd5+YEAcFgz2fowJ1F1hyJOXgtKu4llIa0KneLcidn5bwfutiehUTiOuK87A986BZJMko0eWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.css" integrity="sha512-087vysR/jM0N5cp13Vlp+ZF9wx6tKbvJLwPO8Iit6J7R+n7uIMMjg37dEgexOshDmDITHYY5useeSmfD1MYiQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    .preview-images {
  padding-right: 5px;
}
.preview-images img:last-child {
  margin-right: 5;
}
.preview-images img {
  border-right: 4px solid transparent;
}

    </style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admindashboard" class="brand-wrap">
                <img src="imgs/theme/logo.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>

        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admindashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                                  <a href="/page-products-list"> Product List</a>                 
                                                  
                                       
                        <a href="/page-categories">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-orders-1"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-orders-1">Orders</a>
                       
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                 <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin-user-page"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        
                  
                        <a href="/admin-user-page" class="active">User-Details</a>
                        
                    </div>
                </li>
               <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/page-form-product-3"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-form-product-3" class="active">Add product </a>
                    </a>
                   
                </li>
                <%- include('./partials/aside-2.ejs') %>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                       
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit product</h2>
                        <div>
                           
                            <button class="btn btn-md rounded font-sm hover-up" onclick="save()">save</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="" class="form-control" id="product_title" name="productname" value="<%= product.productname %>" onkeyup="textverify()">
                                <p id="pError"></p>

                            </div>
                            <script>
                                function textverify(){

                               const productTitle = document.getElementById("product_title");
                               const textError = document.getElementById("pError");
                           

                               return verifyText(productTitle, textError)

                                }
                                function verifyText(title, text){
                                    if (!/^[A-Za-z][A-Za-z\s]{2,}$/.test(title.value)) {
                                        text.textContent = " title must be at least 3 characters long and contain only letters.";
                                        text.style.color = "red";
                                        return false
                                } else {
                                    text.textContent = "";
                                    return true
                                }
                                }
                                </script>

                            <div class="row gx-3">
                                <div class="col-md-4  mb-3 d-none">
                                    <label for="product_sku" class="form-label">stock</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="product_sku" name="stock" value="<%= product.stock %>">
                                    <div id="error_message" style="color: red;"></div>
                                </div>
                                <script>
                                     document.addEventListener("DOMContentLoaded", function () {
                                    const stockValue =document.getElementById("product_sku");
                                    const errorMessage = document.getElementById("error_message");

                                     function validate(){
                                        const enteredValue = parseFloat(stockValue.value)

                                        if(enteredValue<=0){
                                            errorMessage.textContent="stock cannot be less than zero"
                                            setTimeout(()=>{
                                                errorMessage.textContent=""
                                            },3000)
                                        }else{
                                           
                                                error.textContent =""

                                        
                                            
                                        }
                                    }
                                 stockValue.addEventListener("input", validate)
                                 stockValue.addEventListener("change", validate)
                                })
                                    </script>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_color" name="color" value="<%= product.color%>">
                                </div>
                                <div class="col-md-4  mb-0 mt-4">
                                    <!-- size need to be drop dopwn -->

                                  

                                </div>

                                <div class="row newSizes">
                                    <div class="col-md-4  mb-3" >
                                        
                                        <label for="sizeS">Size S:</label>
                                        <input type="number" id="sizeS" name="sizes[S]" class="form-control"  min="0" value="<%= product.sizes.S.newStock %>"  onkeyup="intverify()" >
                                      </div>
                                      <div class="col-md-4  mb-3">
                                        <label for="sizeM">Size M:</label>
                                        <input type="number" id="sizeM" name="sizes[M]" min="0" value="<%= product.sizes.M?.newStock %>" class="form-control"  onkeyup="intverify()">
                                      </div>
                                      <div class="col-md-4  mb-3">
                                        <label for="sizeL">Size L:</label>
                                        <input type="number" id="sizeL" name="sizes[L]" min="0" value="<%= product.sizes.L?.newStock %>" class="form-control"  onkeyup="intverify()">
                                      </div>
                                      <div class="col-md-4  mb-3">
                                        <label for="sizeXL">Size XL:</label>
                                        <input type="number" id="sizeXL" name="sizes[XL]" min="0" value="<%= product.sizes.Xl?.newStock %>" class="form-control"  onkeyup="intverify()">
                                      </div>
                                      <div class="col-md-4  mb-3">
                                        <label for="sizeXXL">Size XXL:</label>
                                        <input type="number" id="sizeXXL" name="sizes[XXL]" min="0" value="<%= product.sizes.XXl?.newStock %>" class="form-control"  onkeyup="intverify()">
                                      </div>
                                    <div id="error_message" style="color: red;"></div>

                                    </div>
                            
                                    <script>
                                        function intverify(){
                                       let  smallStock = document.getElementById("sizeS")
                                       let  mediumStock = document.getElementById("sizeM")
                                       let  largeStock = document.getElementById("sizeL")
                                       let  XlStock = document.getElementById("sizeXL")
                                       let  XXLStock = document.getElementById("sizeXXL")
       
                                        giveRedborder(smallStock)
                                        giveRedborder(mediumStock)
                                        giveRedborder(largeStock)
                                        giveRedborder(XlStock)
                                        giveRedborder(XXLStock)
        
                                        let isValid = true;
       
                                        if (!giveRedborder(smallStock)) isValid = false;
                                        if (!giveRedborder(mediumStock)) isValid = false;
                                        if (!giveRedborder(largeStock)) isValid = false;
                                        if (!giveRedborder(XlStock)) isValid = false;
                                        if (!giveRedborder(XXLStock)) isValid = false;
       
       
                                        console.log(isValid)
       
                                        return isValid;
       
       
                                        }
                                        console.log(intverify())
       
                                        function giveRedborder(stock){
                                         
                                       if(stock.value< 0){
                                           stock.style.border= "1px solid red"
                                               return false
                                       }else{
                                           stock.style.border= "1px solid black"
                                           return true
                                       }
       
                                        }
                                        
       
                                       </script>
                                     
                                </div>
                            
                         
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4"  name="Description" id="description"  value="<%= product.description %>" onkeyup="descverify()"><%= product.description %></textarea>
                                <p id="descError"></p>
                            </div>
                        </div>
                        </div>


                        <script>
                            function descverify(){
                               const desc = document.getElementById("description")
                               const Error = document.getElementById("descError")
    
                                return verifyText(desc, Error)
    
                                    }
    
                            
                            </script>




                        <div class="tab-content wow fadeIn animated mx-4 d-flex" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <% for(let i=0; i < product.images.length; i++) { %>
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30 custom-product-card">
                                                <div class="product-img-action-wrap position-relative"> <!-- Set position:relative here -->
                                                    <div class="product-img product-img-zoom">
                                                       
                                                            <div class="hover-image">
                                                                <!-- Add your new image or symbol here -->
                                                                <!-- <img src="" alt="New Image"> -->
                                                            </div>
                                                            <div class="product-images">
                                                                <img class="default-img" src="/temp/<%= product.images[i] %>" alt="">
                                                                <img class="hover-img" src="/temp/<%= product.images[i] %>" alt="">
                                                            </div>
                                                            <div class="product-delete-button position-absolute bottom-0 start-50 translate-middle-x mb-1 d-none col-lg-12"> 
                                                                <button class="btn btn-primary" style="font-size: 12px; line-height: 1; max-width: 100%" onclick="deleteImage(`<%= product.images[i] %>`)" >
                                                                    <i class="fas fa-trash text-sm " style="font-size: 8px;"></i> 
                                                                    delete
                                                                </button>
                                                                <input type="text" value="<%= product._id%>" class="d-none" id="inimage">
                                                            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <style>
                            .product-img-action-wrap:hover .product-delete-button {
                                display: block !important;
                            }

                            </style>
                            <script>
                                async function deleteImage(imageId) {
                                    try {
                                        const imageName = imageId;
                                        const productId = document.getElementById("inimage");
                                        const selectedProductId = productId.value;
                                        console.log(selectedProductId);
                                        console.log(imageName);
                                        
                                        const response = await fetch(`deleteimage?imageName=${imageName}&id=${selectedProductId}`, {
                                            method: "GET",
                                        });
                                
                                        if (!response.ok) {
                                            throw new Error("Failed to delete image");
                                        }
                                        window.location.reload()
                                
                                        const data = await response.json();
                                        console.log(data);
                                
                                    } catch (error) {
                                        console.error("Error:", error);
                                    }
                                }
                                </script>
                                
                        
                        

                        <div class="tab-content wow fadeIn animated mx-4 d-flex" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <div class="product-cart-wrap mb-30 custom-product-card">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <!-- <a href="/shop-product-right"> -->
                                                    <div class="hover-image"></div>
                                                    <div class="preview-images d-flex flex-wrap justify-content-start position-relative">
                                                        <!-- Images and buttons will be dynamically inserted here -->
                                                    </div>
                                                <!-- </a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" name="Images" id="input-images" accept="image/*" multiple>
                                </div>
                            </div>
                        </div>
                        
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-aa9kPB0RB5pcLpSziNYssVzPhcUSlt/ouQpQfktNSx5JqI1U2AbOqTfRIFmdYq0+ZQLXfS7vARv5Bw+P0pY1Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                        
                        <script>
                            let newdatImage = []
                            $(document).ready(function() {
                                let createImageContainer = function(imageSrc, imageName) {
                                        let imageContainer = $($.parseHTML(`
                                            <div class="col-lg-4 col-md-4 col-12 col-sm-6 position-relative" id="oldImage">
                                                <div class="product-cart-wrap mb-30 custom-product-card">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            
                                                                <div class="hover-image"></div>
                                                                <img class="default-img inputcrop" src="${imageSrc}" alt="" >
                                                                <button class="btn btn-primary btn-center delete-btn" data-image="${imageName}" style="font-size: 12px; line-height: 1.5; max-width: 100%>
                                                                    <i class="fas fa-solid fa-trash text-sm" style="font-size: 8px;"></i> 
                                                                    delete
                                                                </button>
                                                                
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        `));
                                        return imageContainer;
                                    };

                                 

                     
                        
                                let imagesPreview = function(input, placeToInsertImagePreview) {
                                    if (input.files) {
                                        let filesAmount = input.files.length;
                                        
                                        // placeToInsertImagePreview.html('');
                                        for (let i = 0; i < filesAmount; i++) {
                                            let reader = new FileReader();
                                            reader.onload = function(event) {
                                                let imageSrc = event.target.result;
                                                let imageName = input.files[i].name;
                                                let imageContainer = createImageContainer(imageSrc , imageName);
                                                placeToInsertImagePreview.append(imageContainer);
                                                newdatImage.push(imageSrc)
                                                
                     
                                           };
                                          
                                            reader.readAsDataURL(input.files[i]);
                                        
                                        }
                                        
                                        
                                    }
                                };
                               

                                
                                $(document).on("click", ".delete-btn", function() {
                                    console.log("delete button clicked");
                                    let imageName = event.target.getAttribute('data-image');  
                                    $(this).closest(".position-relative").remove();                                
                                    let positionRelative = event.target.closest('.position-relative');
                                    let inputImages = document.getElementById("input-images")
                                    console.log(inputImages.files)
                                    

                                    if(inputImages){
                                        let inputFiles=inputImages.files;
                                        console.log(inputFiles)
                                        console.log("inputfiles worked");
                                        let newFiles =[]
                                    for(let i=0; i<inputFiles.length; i++){
                                        if(inputFiles[i].name !== imageName){
                                            newFiles.push(inputFiles[i])
                                            console.log(newFiles[i])
                                            console.log(i)
                                        }
                                    }

                                    let newFileList = new DataTransfer();
                                    for(let i=0; i< newFiles.length; i++){
                                        newFileList.items.add(newFiles[i])
                                       
                                    }
                                    inputImages.files =newFileList.files;

                                    // let newInput = $("<input>")
                                    //     .attr("type", "file")
                                    //     .attr("name", "Images")
                                    //     .attr("id", "input-images")
                                    //     .attr("accept", "image/*")
                                    //     .attr("multiple", true)
                                    //     .css("display", "none");
                                        
                                    //     $(document.body).append(newInput);
                                    //     newInput.files = inputFiles;
                                    //     console.log(`${newInput.files} hey this is newFile`)
                                      
                                    //     newInput.prop("files", newInput.files);
                                    //     newInput.trigger('change');
                                    //     positionRelative.remove();
                                                               
                                        }
                                })
                            
                        
                                $("#input-images").on("change", function() {
                                    $('.preview-images').html('');
                                    imagesPreview(this, $(".preview-images"));
                                });
                        
                                $('.preview-images').on('mouseenter', '.product-img', function() {
                                    $(this).find('img').fadeTo(300, 0.5);
                                    $(this).find('.btn-center').show();
                                }).on('mouseleave', '.product-img', function() {
                                    $(this).find('img').fadeTo(300, 1);
                                    $(this).find('.btn-center').hide();
                                });
                            });
                        </script>

                        <script defer>
                            console.log("hi")
                             document.addEventListener('DOMContentLoaded', function() {
                                console.log(newdatImage)
                                
                                if(newdatImage){
                                    console.log("we got The image")
                                    const cropper  = new Cropper(newdatImage[0],{
                                        aspectRatio: 16 / 9,
                                        viewMode: 1,

                                    })
                                    
                                }
                             })

                            

                            </script>
                        
                        <style>
                            .btn-center {
                                position: absolute;
                                top: 80%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                display: none; /* Initially hide the button */
                            }
                        </style>
                        
                        

</div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price" value="<%=product.price %>">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">gender</label>
                                <select class="form-select" name="gender">
                                    <option disabled selected>gender</option>
                                    <option value="true"<% if (product.gender== true) { %>selected<% } %>>Male</option>
                                    <option value="false" <% if (product.gender == false) { %>selected<% } %>>Female</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Tags</label>
                                <input type="text" placeholder="Type here" class="form-control" name="tags" value="<%=product.tags%>">
                            </div>
                            <hr>



                            <h5 class="mb-3 text-brand text-center">Apparel Categories</h5>                           
                            <div class="container ml-5 mb-3 ">
            <% for(let i=0; i<newcategories.length; i++) {%>

                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                           value="<%= newcategories[i]._id %>" 
                           <% if (newcategories[i]._id == ApparelCategory) { %>checked<% } %> 
                           id="product-cat<%= i %>" name="Categories">
                    <label class="form-check-label" for="product-cat<%= i %>"><%= newcategories[i].categoryname %></label>
                </div>
                
            <% }%>
            <hr> 
             </div>
                  
                    <h5 class="mb-3 text-center text-warning">Heroic charecters</h5>
                   
                        <div class="container ml-5 mb-3">
                    
                        <% for(let i=0; i< license.length; i++) {%>
                        
                        <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= license[i]._id %>" <% if(license[i]._id == licenseCategory) { %>checked<% }%> id="product-cat" name="subcategory">
                        <label class="form-check-label" for="product-cat"><%= license[i].categoryname %> </label>
                        </div>
                    
                  <% } %>-
                  <hr>
                  
                
           </div> 
           
            

            
<h5 class="mb-3 text-center text-brand">Brands</h5>
<div class="container ml-5 mb-3">

<div>
<% for(let i=0; i<brand.length; i++) {%>

<div class="form-check " >
    <input class="form-check-input" type="radio" value="<%= brand[i]._id %>"  <% if(brand[i]._id == brandCategory) { %>checked<% }%>   id="product-cat" name="brand-cat">
    <label class="form-check-label" for="product-cat"><%= brand[i].name %> </label>
    
</div>
<% }%>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<hr>

    <style>
        .error {
            border: 1px solid red
        }
        </style>


<script>

    function validateForm(){

        const productTitle = document.getElementById('product_title').value;
        const productColor = document.getElementById('product_color').value;
        
        const description = document.querySelector('textarea[name="Description"]').value;
        const price = document.querySelector('input[name="price"]').value;
        const gender = document.querySelector('select[name="gender"]').value;
        const tags = document.querySelector('input[name="tags"]').value;
        
        if (!productTitle || !productColor || !description || !price || !gender || !tags) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please fill in all required fields.',
            });
            return false;
 
        }
        if(gender == "" || gender== "gender"){
                Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please select the gender',
            });
            return false;

            }
            
        if (!intverify()) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Some stock values are less than zero.',
        });
        return false;
    }
    if(!textverify()){
     
        Swal.fire({
            icon:"error",
            title: "Error",
            text:"Product Title is not Valid"
        })
        return false
    }
    if(!descverify()){
        Swal.fire({
            icon:"error",
            title: "Error",
            text:"Product Title is not Valid"
        })
        return false
        
    }


        return true;
    }


    
    
async function save() {
    if(validateForm()){
  try {
    var formData = new FormData();

const fileInput = document.getElementById('input-images');
console.log(fileInput)


for (let i = 0; i < fileInput.files.length; i++) {
  formData.append('images', fileInput.files[i]);
  console.log(fileInput.files[i]);
}

formData.append('productTitle', document.getElementById('product_title').value);
formData.append('productSKU', document.getElementById('product_sku').value);
formData.append('productColor', document.getElementById('product_color').value);
formData.append('description', document.querySelector('textarea[name="Description"]').value);
formData.append('price', document.querySelector('input[name="price"]').value);
formData.append('gender', document.querySelector('select[name="gender"]').value);
formData.append('tags', document.querySelector('input[name="tags"]').value);
formData.append('category', getRadioValue('Categories'));
formData.append('subcategory', getRadioValue('subcategory'));
formData.append('brand', getRadioValue('brand-cat'));


formData.append('size_s', document.getElementById("sizeS").value);
formData.append('size_m', document.getElementById("sizeM").value);
formData.append('size_l', document.getElementById("sizeL").value);
formData.append('size_xl', document.getElementById("sizeXL").value);
formData.append('size_xxl', document.getElementById("sizeXXL").value);

console.log(formData);

const response = await fetch("/updateproduct", {
  method: 'POST',
  body: formData,
  
  
});


if (!response.ok) {
  throw new Error(`Error`);
}

const data = await response.json();
console.log(`Success:`, data);

swal.fire({
  title: "Saved!",
  text: "The product have been Saved",
  icon: "success",
  button: "okay",
}).then(()=>{
    window.location.reload()
})


  } catch (error) {
    console.error(error.message);
  }
}
}


    function getRadioValue(name) {
        var radioButtons = document.getElementsByName(name);
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                return radioButtons[i].value;
            }
        }
        
        
        return null; 
    }
    
</script>

  

    


                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-form-product-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>