<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-form-product-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
<head>
<%- include('./partials/header.ejs') %>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/dashboard" class="brand-wrap">
                <img src="imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-products-list">Product List</a>
                        <a href="/page-products-grid">Product grid</a>
                        <a href="/page-products-grid-2">Product grid 2</a>
                        <a href="/page-categories">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-orders-1"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-orders-1">Order list 1</a>
                        <a href="/page-orders-2">Order list 2</a>
                        <a href="/page-orders-detail">Order detail</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                 <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin-user-page"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        
                  
                        <a href="/admin-user-page" class="active">User-Details</a>
                        
                    </div>
                </li>
               <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/page-form-product-3"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-form-product-3" class="active">Add product </a>
                    </a>
                   
                </li>
                <%- include('./partials/aside-2.ejs') %>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up" onclick="save()">save</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_title" name="productname">
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">SKU</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="product_sku" name="stock">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_color" name="color">
                                </div>
                                <div class="col-md-4  mb-0 mt-4">
                                    <!-- size need to be drop dopwn -->
                                    <select class="form-select" name="size">
                                        <option value="null">select size</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                    </select>
                                    
                                </div>
                            </div>
                         
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="Description"></textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file" name="Images" id="fileInput" multiple>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">gender</label>
                                <select class="form-select" name="gender">
                                    <option disabled selected>gender</option>
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Tags</label>
                                <input type="text" placeholder="Type here" class="form-control" name="tags">
                            </div>
                            <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Tech</a>
                            <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Mobile</a>
                            <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Apple</a>
                            <hr>
                            <h5 class="mb-3 text-brand text-center">Apparel Categories</h5>

<!-- ivde aanu button -->
                            
                            <div class="container ml-5 mb-3 ">

                                <button id="addCategoryBtn" class="btn btn-brand " style="width: 100%;">+ Add Category</button s>
                                <div id="categoryFields" class="mt-3 d-none">
                                    <div class="form-group">
                                        <input type="text" id="categoryName" class="form-control mb-2" placeholder="Category Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="categoryDescription" class="form-control mb-2" placeholder="Category Description">
                                    </div>
                                    <button id="additionBtn" class="btn btn-primary" onclick="updatecategory1()">ADD</button>
                                </div>
                            </div>
                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const addCategoryBtn = document.getElementById('addCategoryBtn');
    const categoryFields = document.getElementById('categoryFields');

    addCategoryBtn.addEventListener('click', function() {
        categoryFields.classList.toggle('d-none');

        addCategoryBtn.textContent =(addCategoryBtn.textContent === '+ Add Category') ? '- Add Category' : '+ Add Category';
    });
});
</script>
    <script>
                             async function updatecategory1(){
                                try {

                                    console.log("function called")
                                const categoryName=document.getElementById("categoryName").value
                                console.log(categoryName);

                                const response= await fetch(`/updatecategory1?generalcategory=${categoryName}`,{
                                    method:"GET",

                                })
                                if (!response.ok){
                                    throw new Error("error is occured")
                                }
                                console.log("success");
                                location.reload()

                             
                                    
                                } catch (error) {


                                    console.log(error)
                                    
                                }


                             }
                           

                        </script>
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<% for(let i=0; i<newcategories.length; i++) {%>

<div class="form-check " >
    <input class="form-check-input" type="radio" value="<%= newcategories[i]._id %>" id="product-cat" name="Categories">
    <label class="form-check-label" for="product-cat"><%= newcategories[i].categoryname %> </label>
    <i class="fas fa-edit ml-2 text-primary edit-category" data-category-id="<%= newcategories[i]._id %>"></i>
</div>
<% }%>
<hr>
<script src="/js/updateCategory.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editCategoryIcons = document.querySelectorAll('.edit-category');
        let selectedCategoryId;

        editCategoryIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                
                selectedCategoryId = icon.dataset.categoryId;

               
                Swal.fire({
  title: 'Edit the brand Name',
  input: 'text',
  inputLabel: 'Your new category name',
  inputValue: icon.previousElementSibling.textContent,
  showCancelButton: true,
  inputValidator: (value) => {
    if (!value) {
      return 'You need to write something!'
    }
  }
}).then((result)=>{
    if (result.isConfirmed && result.value) {

icon.previousElementSibling.textContent = result.value;


updateCategory(selectedCategoryId, result.value);
    }

})
    
            });
        });
    });
    </script>




                
                    
                    <h5 class="mb-3 text-center text-warning">Heroic charecters</h5>


                    
                        <div class="container ml-5 mb-3">
                            <button id="newCategoryBtn" class="btn btn-brand" style="width: 100%;">+ Add charectors</button>
                            <div id="newCategoryFields" class="mt-3 d-none">
                                <div class="form-group">
                                    <input type="text" id="newCategoryName" class="form-control mb-2" placeholder="New Category Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="newCategoryDescription" class="form-control mb-2" placeholder="New Category Description">
                                </div>
                                <button id="newAdditionBtn" class="btn btn-warning" onclick="updatecategory()">ADD </button>
                            </div>
                        </div>
                        
                        <!-- Add Bootstrap JS and Popper.js -->
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                        <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const newCategoryBtn = document.getElementById('newCategoryBtn');
                             newCategoryFields = document.getElementById('newCategoryFields');
                        
                            newCategoryBtn.addEventListener('click', function() {
                                newCategoryFields.classList.toggle('d-none');
                                newCategoryBtn.textContent = (newCategoryBtn.textContent === '+ New Category') ? '- New Charectors' : '+ New Charectors';
                            });
                        });
                        
                        </script>
                        <script>
                             async function updatecategory(){
                                try {

                                    console.log("function called")
                                const categoryName=document.getElementById("newCategoryName").value
                                console.log(categoryName);

                                const response= await fetch(`/updatecategory?category=${categoryName}`,{
                                    method:"GET",

                                })
                                if (!response.ok){
                                    throw new Error("error is occured")
                                }
                                console.log("success");
                                location.reload()

                             
                                    
                                } catch (error) {


                                    console.log(error)
                                    
                                }


                             }
                           

                        </script>
                       
                        
                        <% for(let i=0; i< license.length; i++) {%>
                        
                        <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= license[i]._id %>" id="product-cat" name="subcategory">
                        <label class="form-check-label" for="product-cat"><%= license[i].categoryname %> </label>
                        <i class="fas fa-edit ml-2 text-primary edit-category1" data-category-id="<%= license[i]._id %>"></i>
                        </div>
                    
                  <% } %>
                  <hr>
                  <script src="/js/updateCategory.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editCategoryIcons = document.querySelectorAll('.edit-category1');
        let selectedCategoryId;

        editCategoryIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                
                selectedCategoryId = icon.dataset.categoryId;

               
                Swal.fire({
  title: 'Edit the licensed charectors Name',
  input: 'text',
  inputLabel: 'Your new category name',
  inputValue: icon.previousElementSibling.textContent,
  showCancelButton: true,
  inputValidator: (value) => {
    if (!value) {
      return 'You need to write something!'
    }
  }
}).then((result)=>{
    if (result.isConfirmed && result.value) {

icon.previousElementSibling.textContent = result.value;


updateCategory(selectedCategoryId, result.value);
    }

})
    
            });
        });
    });
    </script>

                  
                    
            </div> <!-- card end// -->
           
            

            
<h5 class="mb-3 text-center text-brand">Brands</h5>
<div class="container ml-5 mb-3">
    <button id="newBrandBtn" class="btn btn-brand" style="width: 100%; border-radius: 8px; font-size: 16px; padding: 10px;">
        + Add Brands
    </button>
    
    <div id="newBrandFields" class="mt-3 d-none">
        <div class="form-group">
            <input type="text" id="newbrand" class="form-control mb-2" placeholder="New Brand Name">
        </div>
        <div class="form-group">
            <input type="text" id="newBrandDescription" class="form-control mb-2" placeholder="New Brand Description">
        </div>
        <button id="newBrandAdditionBtn" class="btn btn-primary" onclick="updateBrand()">ADD</button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       
        const newBrandBtn = document.getElementById('newBrandBtn');
        const newBrandFields = document.getElementById('newBrandFields');

        newBrandBtn.addEventListener('click', function () {
            newBrandFields.classList.toggle('d-none');
            newBrandBtn.textContent = (newBrandBtn.textContent === '+ Add Brands') ? '- Add Brands' : '+ Add Brands';
        });
    });
    </script>
<script>
    
    async function updateBrand() {
        try {
            console.log("fucntion called")
            const newBrandName =  document.getElementById("newbrand").value;
            console.log(newBrandName);
        
            const response = await fetch(`/updatebrand?brandname=${newBrandName}`,{
                method:"GET",

            })
           

            if(!response.ok){
                throw new Error("update brands have some error")
            }else{

                location.reload();
            }
            
            console.log("Brand added successfully");
        } catch (error) {
            console.log(error);
        }
    }

</script>
</script>

<div>
<% for(let i=0; i<brand.length; i++) {%>

<div class="form-check " >
    <input class="form-check-input" type="radio" value="<%= brand[i]._id %>" id="product-cat" name="brand-cat">
    <label class="form-check-label" for="product-cat"><%= brand[i].name %> </label>
    <i class="fas fa-edit ml-2 text-primary edit-category2" data-category-id="<%= brand[i]._id %>"></i>
</div>
<% }%>
<hr>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editCategoryIcons = document.querySelectorAll('.edit-category2');
        let selectedCategoryId;

        editCategoryIcons.forEach(icon => {
            icon.addEventListener('click',  function () {
                
                selectedCategoryId = icon.dataset.categoryId;

                 Swal.fire({
  title: 'Edit the brand Name',
  input: 'text',
  inputLabel: 'Your new category name',
  inputValue: icon.previousElementSibling.textContent,
  showCancelButton: true,
  inputValidator: (value) => {
    if (!value) {
      return 'You need to write something!'
    }
  }
}).then((result)=>{
    if (result.isConfirmed && result.value) {

icon.previousElementSibling.textContent = result.value;


updateCategory(selectedCategoryId, result.value);
    }

})
    
            });
        });
    });
    </script>


<script>
    
async function save() {
  try {
    var formData = new FormData();

const fileInput = document.getElementById('fileInput');

for (let i = 0; i < fileInput.files.length; i++) {
  formData.append('images', fileInput.files[i]);
}

formData.append('productTitle', document.getElementById('product_title').value);
formData.append('productSKU', document.getElementById('product_sku').value);
formData.append('productColor', document.getElementById('product_color').value);
formData.append('productSize', document.querySelector('select[name="size"]').value);
formData.append('description', document.querySelector('textarea[name="Description"]').value);
formData.append('price', document.querySelector('input[name="price"]').value);
formData.append('gender', document.querySelector('select[name="gender"]').value);
formData.append('tags', document.querySelector('input[name="tags"]').value);
formData.append('category', getRadioValue('Categories'));
formData.append('subcategory', getRadioValue('subcategory'));
formData.append('brand', getRadioValue('Categories'));

console.log(formData);

const response = await fetch("/save", {
  method: 'POST',
  body: formData
});

if (!response.ok) {
  throw new Error(`Error`);
}

const data = await response.json();
console.log(`Success:`, data);

swal.fire({
  title: "Saved!",
  text: "The product have been Saved",
  icon: "success",
  button: "okay",
}).then(()=>{
    window.location.reload()
})


  } catch (error) {
    console.error(error.message);
  }
}


    function getRadioValue(name) {
        var radioButtons = document.getElementsByName(name);
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                return radioButtons[i].value;
            }
        }
        
        
        return null; 
    }
    
</script>

  

    


                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-form-product-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>