<!DOCTYPE HTML>
<html lang="en">



<head>
<%- include('./partials/header.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>+


</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admindashboard" class="brand-wrap">
                <img src="assets/imgs/theme/logo.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admindashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-products-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                                  <a href="/page-products-list"> Product List</a>                 
                                                  
                                       
                        <a href="/page-categories">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/page-orders-1"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-orders-1" class="active">Order list </a>
                       
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                 <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin-user-page"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        
                  
                        <a href="/admin-user-page" class="active">User-Details</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/page-form-product-3"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/page-form-product-3" class="active">Add product </a>
                    </a>
               
                </li>
                <%- include('./partials/aside-2.ejs') %>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                       
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">SALES REPORT </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                            <div class="col-lg-2 col-6 col-md-3 align-items-center">
                            <button class="btn btn-brand" id="pdf" onclick="downloadPdf()">Download-Pdf</button>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <label for="from_date" class="form-label">From</label>
                            <input type="date" name="expiry_date" class="form-control" id="fromdate" onchange="validatefromDate()">
                            <span id="date-error1" class="error-msg"></span>
                          </div>
                          <div class="col-lg-2 col-6 col-md-3">
                            <label for="expiry_date" class="form-label">To</label>
                            <input type="date" name="expiry_date" class="form-control" id="todate" onchange="validateDate()">
                            <span id="date-error" class="error-msg"></span>
                          </div>
                          <script>
                          async  function validateDate() {
                          const dateError = document.getElementById("date-error");
                          const dateInput = document.getElementById("todate").value;
                          const fromdate = document.getElementById("fromdate").value;
                          if(!fromdate){
                            dateError.innerHTML = "please choose from Date";
                            dateError.style.color = "red";
                            return false
                          }
                          const currentDate = new Date();
                          const selectedDate = new Date(dateInput);
                          const selectedFromDate = new Date(fromdate)
                          if (selectedDate < selectedFromDate) {
                            dateError.innerHTML = "From Date should not be greater";
                            dateError.style.color = "red";
                            return false;
                          }
                          dateError.innerHTML = "";
                          if(validatefromDate){
                            console.log("fetch Called")
                            const response = await fetch(`/customDate?fromDate=${selectedFromDate}&toDate=${selectedDate}`,{
                                method: "GET",
                            })
                            if(!response){
                                throw new Error("internal server Error")
                            }
                            const data = await response.json()
                            console.log(data)
                            if(data){
                                
                                const orderDetailsContainer = document.querySelector("#orderDetailsContainer");
                                orderDetailsContainer.innerHTML = "";

                                data.orderDetails.forEach(orderDetail => {
                                        orderDetailsContainer.innerHTML += `
                                            <tr>
                                                <td id="orderId">${orderDetail.orderID}</td>
                                                <td><b id="userName">${orderDetail.userId.name}</b></td>
                                                <td id="Email">${orderDetail.userId.email}</td>
                                                <td id="totalAmount"> &#8377;${orderDetail.totalAmount}</td>
                                                <td><span id="orderStatus" class="badge rounded-pill ${orderDetail.orderStatus === "Pending" ? "alert-warning" : "alert-success"}">${orderDetail.orderStatus}</span></td>
                                                <td id="date">${new Date(orderDetail.date).toLocaleDateString()}</td>

                                                <td id="paymentStatus"><span class="badge rounded-pill ${orderDetail.paymentStatus === "Pending" || orderDetail.paymentStatus === "PaymentFailed" ? "alert-danger" : "alert-success"}">${orderDetail.paymentStatus}</span></td>
                                                <td id="textEnd" class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"><i class="material-icons md-more_horiz"></i></a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>`

                            })
                          }
                          return true;
                        }
                    }
                        function validatefromDate(){
                            const dateError = document.getElementById("date-error1");
                            const dateInput = document.getElementById("fromdate").value;
                            const toDate = document.getElementById("todate").value;

                            const currentDate = new Date();
                            const selectedDate = new Date(dateInput);
                            const selectedToDate = new Date(toDate);
                            if(toDate){
                                if(selectedDate > selectedToDate){
                                dateError.innerHTML = "Please choose The date leser Than To";
                                dateError.style.color = "red";
                                return false;

                                }
                            }

                            if(selectedDate > currentDate){
                                dateError.innerHTML = "cannot choose future Date";
                                dateError.style.color = "red";
                                return false;
                          }
                          dateError.innerHTML = "";
                          return true;
                        }
                       

                                
                            </script>
                        

                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select ledger">
                                <option value="day">day</option>
                                <option value="weekly">weekly</option>
                                <option value="monthly">monthly</option>
                                <option value="yearly">yearly</option>
                            </select>
                        </div>
                        <script>
                            document.querySelector(".ledger").addEventListener("change", async function() {
                                selecteddate = this.value;
                                console.log(selecteddate);
                                
                                const response = await fetch(`/ledger?selectedDate=${selecteddate}`, {
                                    method: "GET",
                                });
                        
                                if (!response.ok) {
                                    throw new Error("Internal Server Error");
                                }
                        
                                const data = await response.json();
                                console.log(data.orderDetails);
                        
                                const orderDetailsContainer = document.querySelector("#orderDetailsContainer");
                                orderDetailsContainer.innerHTML = ""; // Clear previous data
                        
                                if (data.time === "day" || data.time === "weekly" || data.time === "monthly" || data.time == "yearly"  ) {
                                    console.log(data.orderDetails[0])
                                   
                                 
                                    data.orderDetails.forEach(orderDetail => {
                                        orderDetailsContainer.innerHTML += `
                                            <tr>
                                                <td id="orderId">${orderDetail.orderID}</td>
                                                <td><b id="userName">${orderDetail.userId.name}</b></td>
                                                <td id="Email">${orderDetail.userId.email}</td>
                                                <td id="totalAmount"> &#8377;${orderDetail.totalAmount}</td>
                                                <td><span id="orderStatus" class="badge rounded-pill ${orderDetail.orderStatus === "Pending" ? "alert-warning" : "alert-success"}">${orderDetail.orderStatus}</span></td>
                                                <td id="date">${new Date(orderDetail.date).toLocaleDateString()}</td>

                                                <td id="paymentStatus"><span class="badge rounded-pill ${orderDetail.paymentStatus === "Pending" || orderDetail.paymentStatus === "PaymentFailed" ? "alert-danger" : "alert-success"}">${orderDetail.paymentStatus}</span></td>
                                                <td id="textEnd" class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"><i class="material-icons md-more_horiz"></i></a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        `;
                                    });
                                } else if(data.time == "") {
                                  
                                    console.log("Data not for the day.");
                                }
                            });
                        </script>
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="reportTableBody">
                            <thead >
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="orderDetailsContainer">
                                <% orderDetails.forEach((orderDetail)=>{ %>
                                    
                                <tr>
                                    <td id="orderId"><%= orderDetail.orderID %></td>
                                    <td><b id="userName"><%= orderDetail.userId.name %></b></td>
                                    <td id="Email"><%= orderDetail.userId.email%></td>
                                    <td id="totalAmount"> &#8377;<%= orderDetail.totalAmount%></td>
                                    <td><span id="orderStatus" class="badge rounded-pill <%=orderDetail.orderStatus=="Pending"? "alert-warning" : "alert-success"%>"><%= orderDetail.orderStatus%></span></td>
                                    <td id="date"><%=orderDetail.formateDate()%></td>
                                    <td id="paymentStatus"><span class="badge rounded-pill <%=orderDetail.paymentStatus=="Pending" ||orderDetail.paymentStatus== "PaymentFailed"? "alert-danger" : "alert-success"%>"><%= orderDetail.paymentStatus%></span></td>
                                    <td id="textEnd" class="text-end">
                                        
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                            <%})%>
                            <script>

                                function downloadPdf() {
            const element = document.getElementById('reportTableBody')
            console.log(element);
            html2pdf().from(element).save();
        }
                                </script>
            
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            
            
            
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">

                        <%for(let i=1; i<= totalPages; i++) {%>
                        <li class="page-item active"><a class="page-link" href="/salesreport?page=<%= i%>"><%= i%></a></li>
                        <% }%>

                    </ul>
                </nav>
            </div>



            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-orders-1 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>