<%-include('./partials/header')%>
<div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/page-contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/user-login">Log In / </a> <a href="/user-register">Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="home-slider position-relative">
            <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Trade-In Offer</h5>
                                <h3 class="animated fw-900">Supper Value Deals</h3>
                                <h3 class="animated fw-900 text-brand">On All Products</h3>
                                <p class="animated">Save more with coupons & up to 70% off</p>
                                <a class="animated btn btn-brush btn-brush-3" href="/shop-product-right"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="/assets/imgs/slider/slider-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Tech Promotions</h5>
                                <h3 class="animated fw-900">Tech Trending</h3>
                                <h3 class="animated fw-900 text-brand">Great Collection</h3>
                                <p class="animated">Save more with coupons & up to 20% off</p>
                                <a class="animated btn btn-brush btn-brush-1" href="/shop-product-right"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="/assets/imgs/slider/slider-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="slider-1-height-2 slider-animated-1">
                            <div class="hero-slider-content-2">
                                <h5 class="animated">Upcoming Offer</h5>
                                <h3 class="animated fw-900">Big Deals From</h3>
                                <h2 class="animated fw-900 text-brand">Manufacturer</h2>
                                <p class="animated">Headphone, Gaming Laptop, PC and more...</p>
                                <a class="animated btn btn-brush btn-brush-3" href="/shop-product-right"> Shop Now </a>
                            </div>
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated" src="/assets/imgs/slider/slider-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        

        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">



                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated"> Apparel Category</h5>
                            <% for(let i=0; i<ApparelCategory.length; i++) {%>
                            <ul class="categories">
                                <li><a href="/shop-grid-right?ApparelCategory=<%= ApparelCategory[i]._id %>"><%= ApparelCategory[i].categoryname %></a></li>
                               
                            </ul>
                            <%}%>
                        </div>




                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <li><a href="/shop-grid-right">Popularity</a></li>
                                <li><a href="/shop-grid-right">Average rating</a></li>
                                <li><a href="/shop-grid-right">Price: Low to High</a></li>
                                <li><a href="/shop-grid-right">Price: High to Low</a></li>
                            </ul>
                        </div>
                        
                        <div class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none">
                            <img src="/assets/imgs/banner/banner-11.jpg" alt="">
                            <div class="banner-text">
                                <span>Women Zone</span>
                                <h4>Save 17% on <br>Office Dress</h4>
                                <a href="/shop-grid-right">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Men</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Women</button>
                                </li>
                    
                                </li>
                            </ul>
                            <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row product-grid-4">

                                    <% for(let i=0; i<product.length; i++) {%>
                                       <% const now = new Date() 
                                        const createdat = new Date(product[i]?.createdat)
                                        const timediff = now-createdat;
                                        const oneDay = 24*60*60*1000;
                                        const isNew = timediff < oneDay
                                        %>


                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right?productId=<%= product[i]._id %>">
                                                        <a href="/shop-product-right?productId=<%= product[i]._id %>">
                                 
                                                        <img class="default-img" src="/temp/<%= product[i]?.images[0] %>" alt="">
                                                        <img class="hover-img" src="/temp/<%= product[i]?.images[1] %>" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                   
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <% if (isNew) { %>
                                                        <span class="new">New</span>
                                                      <% } else { %>
                                                        <!-- <span class="hot best sale">Hot</span> -->
                                                      <% } %>
                                                </div>
                                            </div>

                                           
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right"><%= product[i].productname%></a>
                                                </div>
                                                <h2><a href="/shop-product-right"><%= product[i].productname%></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>&#x20b9 <%= product[i].price%></span>
                                                    <span class="old-price">&#x20b9 245.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <% } %>
                                </div>


                                <script>
                                    document.addEventListener("DOMContentLoaded", function () {
                                   const quickviewbuttons = document.querySelectorAll(".quick-view-button");
                                   
                                   quickviewbuttons.forEach(async function(button) {
                                       button.addEventListener("click", async function (event) {
                                           event.preventDefault();

                                           const productId = button.getAttribute("data-product-id");
                                           try {
                                               const response = await fetch(`/submit-image?productId=${productId}`, {
                                                   method: "GET",
                                               });

                                               if (!response.ok) {
                                                   throw new Error("Error fetching the data");
                                               }

                                               const data = await response.json(); // Assuming the response is JSON
                                               // Handle the response data here
                                               console.log(data);
                                           } catch (error) {
                                               console.error(error);
                                               // Handle errors here
                                           }
                                       });
                                   });
                               });

                                           </script>

                                <!--End product-grid-4-->
                            </div>
                            <!--En tab one (Featured)-->

<!-- if you want to ADD for female you can use here -->

                            <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                <div class="row product-grid-4">




                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="default-img" src="/assets/imgs/shop/product-9-1.jpg" alt="">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-9-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Donec </a>
                                                </div>
                                                <h2><a href="/shop-product-right">Lorem ipsum dolor</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$238.85 </span>
                                                    <span class="old-price">$245.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                    
                                </div>
                                <!--End product-grid-4-->
                            </div>

        
                            <!--En tab two (Popular)-->
                            <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                                <div class="row product-grid-4">
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="default-img" src="/assets/imgs/shop/product-2-1.jpg" alt="">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-2-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Music</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Donec ut nisl rutrum</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$238.85 </span>
                                                    <span class="old-price">$245.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-3-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-3-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="new">New</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Music</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Nullam dapibus pharetra</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>50%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$138.85 </span>
                                                    <span class="old-price">$255.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-13-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-13-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="new">New</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Music</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Nullam dapibus pharetra</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>50%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$138.85 </span>
                                                    <span class="old-price">$255.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-4-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-4-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="best">Best Sell</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Watch</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Morbi dictum finibus</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>95%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$338.85 </span>
                                                    <span class="old-price">$445.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-5-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-5-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="sale">Sale</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Music</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Nunc volutpat massa</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$123.85 </span>
                                                    <span class="old-price">$235.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-6-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-6-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-30%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Speaker</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Nullam ultricies luctus</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$28.85 </span>
                                                    <span class="old-price">$45.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-7-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-7-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-22%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Camera</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Nullam mattis enim</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$238.85 </span>
                                                    <span class="old-price">$245.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-8-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-8-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="new">New</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Phone</a>
                                                </div>
                                                <h2><a href="/shop-product-right">Vivamus sollicitudin</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>98%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$1275.85 </span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product-right">
                                                        <img class="hover-img" src="/assets/imgs/shop/product-9-1.jpg" alt="">
                                                        <img class="default-img" src="/assets/imgs/shop/product-9-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/shop-wishlist"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="/shop-compare"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/shop-grid-right">Accessories </a>
                                                </div>
                                                <h2><a href="/shop-product-right"> Donec ut nisl rutrum</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$238.85 </span>
                                                    <span class="old-price">$245.8</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/shop-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab three (New added)-->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-2 section-padding pb-0">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/assets/imgs/banner/banner-4.png" alt="">
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand">make in India</h4>
                        <h1 class="fw-600 mb-20">THE souled Store <br>Manufactured in India</h1>
                        <a href="/shop-grid-right" class="btn">Become our prime member <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>



       


        <!-- <section class="deals section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url('/assets/imgs/banner/menu-banner-7.jpg');">
                            <div class="deal-top">
                                <h2 class="text-brand">Deal of the Day.</h2>
                                <h5>Limited quantities.</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="/shop-product-right">Summer Collection New Morden Design</a></h6>
                                <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                <a href="/shop-grid-right" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated" style="background-image: url('/assets/imgs/banner/menu-banner-8.jpg');">
                            <div class="deal-top">
                                <h2 class="text-success">Men Clothing</h2>
                                <h5>Shirt & Bag</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="/shop-product-right">Try something new on vacation</a></h6>
                                <div class="product-price"><span class="new-price">$178.00</span><span class="old-price">$256.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                                <a href="/shop-grid-right" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->



        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <div class="product-cart-wrap small hover-up">

                            <% for(let i=0; i<newProducts.length; i++) {%>

                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="/shop-product-right">
                                        <img class="default-img" src="/temp/<%= newProducts[i]?.images[0] %>" alt="">
                                       
                                    </a>
                                </div>
                                <div class="product-action-1">
                                   
                                    
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="/shop-wishlist" tabindex="0"><i class="fi-rs-heart"></i></a>
                                    
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new">new</span>
                                </div>
                            </div>

                            <div class="product-content-wrap">
                                <h2><a href="/shop-product-right"><%= newProducts[i].productname %></a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span> <%= newProducts[i].price%></span>
                                    <!-- <span class="old-price">$245.8</span> -->
                                </div>
                            </div>
                        </div>


                        <% }%>







                        <!--End product-cart-wrap-2-->
                        
                        <!--End product-cart-wrap-2-->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <% for(let i=0; i<brandDetails.length; i++) {%>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/temp/<%= brandDetails[i].images[0]%>" alt="">
                        </div>
                        <% }%>
                       
                    </div>
                </div>
            </div>
        </section>

        
        <!-- <section class="section-padding">
            <div class="container pt-25 pb-20">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="section-title mb-20"><span>From</span> blog</h3>
                        <div class="post-list mb-4 mb-lg-0">
                            <article class="wow fadeIn animated">
                                <div class="d-md-flex d-block">
                                    <div class="post-thumb d-flex mr-15">
                                        <a class="color-white" href="blog-post-fullwidth.html">
                                            <img src="/assets/imgs/blog/blog-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta mb-10 mt-10">
                                            <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Fashion</span></a>
                                        </div>
                                        <h4 class="post-title mb-25 text-limit-2-row">
                                            <a href="blog-post-fullwidth.html">Qualcomm is developing a Nintendo Switch-like console, report says</a>
                                        </h4>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 April 2022</span>
                                                <span class="hit-count has-dot">12M Views</span>
                                            </div>
                                            <a href="blog-post-right.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated">
                                <div class="d-md-flex d-block">
                                    <div class="post-thumb d-flex mr-15">
                                        <a class="color-white" href="blog-post-fullwidth.html">
                                            <img src="/assets/imgs/blog/blog-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta mb-10 mt-10">
                                            <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Healthy</span></a>
                                        </div>
                                        <h4 class="post-title mb-25 text-limit-2-row">
                                            <a href="blog-post-fullwidth.html">Not even the coronavirus can derail 5G's global momentum</a>
                                        </h4>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 April 2022</span>
                                                <span class="hit-count has-dot">12M Views</span>
                                            </div>
                                            <a href="blog-post-right.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-img banner-1 wow fadeIn animated">
                                    <img src="/assets/imgs/banner/banner-5.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Accessories</span>
                                        <h4>Save 17% on <br>Autumn Hat</h4>
                                        <a href="/shop-grid-right">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-img mb-15 wow fadeIn animated">
                                    <img src="/assets/imgs/banner/banner-6.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Big Offer</span>
                                        <h4>Save 20% on <br>Women's socks</h4>
                                        <a href="/shop-grid-right">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="banner-img banner-2 wow fadeIn animated mb-0">
                                    <img src="/assets/imgs/banner/banner-7.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Smart Offer</span>
                                        <h4>Save 20% on <br>Eardrop</h4>
                                        <a href="/shop-grid-right">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated" style="background-image: url('/assets/imgs/banner/banner-8.jpg')">
                            <div class="banner-content">
                                <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                            <img src="/assets/imgs/banner/banner-10.jpg" alt="">
                            <div class="banner-text">
                                <span>Shoes Zone</span>
                                <h4>Save 17% on <br>All Items</h4>
                                <a href="/shop-grid-right">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Deals & Outlet</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-3.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Fish Print Patched T-shirt</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-4.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Vintage Floral Print Dress</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-5.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Multi-color Stripe Circle Print T-Shirt</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-6.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Geometric Printed Long Sleeve Blosue</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-7.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Print Patchwork Maxi Dress</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-8.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Daisy Floral Print Straps Jumpsuit</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Hot Releases</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-9.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Floral Print Casual Cotton Dress</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-1.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Ruffled Solid Long Sleeve Blouse</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/shop-product-right"><img src="/assets/imgs/shop/thumbnail-2.jpg" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/shop-product-right">Multi-color Print V-neck T-Shirt</a>
                                    </h4>
                                    <div class="product-price">
                                        <span>$238.85 </span>
                                        <span class="old-price">$245.8</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('./partials/footer')%>
   