<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">
</head>

<body>

    <%- include("./partials/header")%>
        </div>
        </div>
        </div>
        <% if(typeof message !=="undefined" ){%>
            <script>
                Swal.fire({
                    icon: "warning",
                    title: "password Updated"
                })

            </script>


            <% }%>

                <main class="main">
                    <div class="page-header breadcrumb-wrap">
                        <div class="container">
                            <div class="breadcrumb">
                                <a href="index.html" rel="nofollow">Home</a>
                                <span></span> Pages
                                <span></span> Account
                            </div>
                        </div>
                    </div>
                    <section class="pt-150 pb-150">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 m-auto">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="dashboard-menu">
                                                <ul class="nav flex-column" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="dashboard-tab"
                                                            data-bs-toggle="tab" href="#dashboard" role="tab"
                                                            aria-controls="dashboard" aria-selected="false"><i
                                                                class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                            href="#orders" role="tab" aria-controls="orders"
                                                            aria-selected="false"><i
                                                                class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                            href="#track-orders" role="tab" aria-controls="track-orders"
                                                            aria-selected="false"><i
                                                                class="fi-rs-shopping-cart-check mr-10"></i>Track Your
                                                            Order</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                            href="#address" role="tab" aria-controls="address"
                                                            aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                            Address</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                            href="#account-detail" role="tab"
                                                            aria-controls="account-detail" aria-selected="true"><i
                                                                class="fi-rs-user mr-10"></i>Account details</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="page-login-register.html"><i
                                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="tab-content dashboard-content">
                                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                                    aria-labelledby="dashboard-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Hello Rosie! </h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <p>From your account dashboard. you can easily check &amp;
                                                                view your <a href="#">recent orders</a>, manage your <a
                                                                    href="#">shipping and billing addresses</a> and <a
                                                                    href="#">edit your password and account details.</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="orders" role="tabpanel"
                                                    aria-labelledby="orders-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Your Orders</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Order</th>
                                                                            <th>Date</th>
                                                                            <th>Status</th>
                                                                            <th>Total</th>
                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>#1357</td>
                                                                            <td>March 45, 2020</td>
                                                                            <td>Processing</td>
                                                                            <td>$125.00 for 2 item</td>
                                                                            <td><a href="#"
                                                                                    class="btn-small d-block">View</a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>#2468</td>
                                                                            <td>June 29, 2020</td>
                                                                            <td>Completed</td>
                                                                            <td>$364.00 for 5 item</td>
                                                                            <td><a href="#"
                                                                                    class="btn-small d-block">View</a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>#2366</td>
                                                                            <td>August 02, 2020</td>
                                                                            <td>Completed</td>
                                                                            <td>$280.00 for 3 item</td>
                                                                            <td><a href="#"
                                                                                    class="btn-small d-block">View</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                                    aria-labelledby="track-orders-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Orders tracking</h5>
                                                        </div>
                                                        <div class="card-body contact-from-area">
                                                            <p>To track your order please enter your OrderID in the box
                                                                below and press "Track" button. This was given to you on
                                                                your receipt and in the confirmation email you should
                                                                have received.</p>
                                                            <div class="row">
                                                                <div class="col-lg-8">
                                                                    <form class="contact-form-style mt-30 mb-50"
                                                                        action="#" method="post">
                                                                        <div class="input-style mb-20">
                                                                            <label>Order ID</label>
                                                                            <input name="order-id"
                                                                                placeholder="Found in your order confirmation email"
                                                                                type="text" class="square">
                                                                        </div>
                                                                        <div class="input-style mb-20">
                                                                            <label>Billing email</label>
                                                                            <input name="billing-email"
                                                                                placeholder="Email you used during checkout"
                                                                                type="email" class="square">
                                                                        </div>
                                                                        <button class="submit submit-auto-width"
                                                                            type="submit">Track</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="tab-pane fade" id="address" role="tabpanel"
                                                    aria-labelledby="address-tab">
                                                    <div class="row">
                                                        <% if(typeof userDetails?.Address !=="undefined" ) {%>

                                                            <% for(let i=0; i<userDetails?.Address.length; i++) {%>
                                                                <div class="col-lg-6">
                                                                    <div class="card mb-0 mb-lg-0 containerheader">
                                                                        <div class="card-header">
                                                                            <div
                                                                                class="d-flex justify-content-between align-items-center">
                                                                                <h5 class="mb-0">Address</h5>
                                                                                <div
                                                                                    class="form-check form-check-round">
                                                                                    <input class="form-check-input"
                                                                                        type="radio"
                                                                                        id="addressRadio<%= i %>"
                                                                                        name="selectedAddress"
                                                                                        value="<%= i %>"
                                                                                        <%=userDetails?.Address[i].status==true
                                                                                        ? 'checked' : '' %>
                                                                                    onclick="updateAddressStatus(<%= i
                                                                                        %>)">
                                                                                        <div class="product-delete-button position-absolute bottom-0 start-50 translate-middle-50 mb-1  col-lg-12"
                                                                                            id="deleteContainer<%= i %>">
                                                                                            <button
                                                                                                class="btn btn-primary delete-btn d-none "
                                                                                                style="font-size: 12px; line-height: 1; max-width: 100% "
                                                                                                onclick="deleteAddress()"
                                                                                                data-index="<%= userDetails?.Address[i]?._id %>">
                                                                                                <i class="fas fa-trash text-sm "
                                                                                                    style="font-size: 8px;"></i>
                                                                                                delete
                                                                                            </button>
                                                                                        </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <address>
                                                                                <%= userDetails?.Address[i]?.housename
                                                                                    %><br>
                                                                                    <%= userDetails?.Address[i]?.Street
                                                                                        %><br>
                                                                                        <%= userDetails?.Address[i]?.City
                                                                                            %><br>
                                                                                            <%= userDetails?.Address[i]?.State
                                                                                                %>
                                                                            </address>
                                                                            <p>India</p>
                                                                            <a class="btn-small editButton"
                                                                                onclick="editAddress('<%= userDetails?.Address[i]?.housename %>', '<%= userDetails?.Address[i]?.Street %>', '<%= userDetails?.Address[i]?.City %>', '<%= userDetails?.Address[i]?.State %>', '<%= userDetails?.Address[i]?._id %>')" data-address="<%= i%>">Edit</a>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <script defer>
                                                                    async function editAddress(houseName, streetName, city, state, id) {
                                                                        const AddressId = id;
                                                                        console.log(AddressId);
                                                                
                                                                        const result = await Swal.fire({
                                                                            title: "Enter Address",
                                                                            html:
                                                                                '<input id="houseName" class="swal2-input" placeholder="House Name" value="' + houseName + '">' +
                                                                                '<input id="streetName" class="swal2-input" placeholder="Street Name" value="' + streetName + '">' +
                                                                                '<input id="city" class="swal2-input" placeholder="City" value="' + city + '">' +
                                                                                '<input id="state" class="swal2-input" placeholder="State" value="' + state + '">',
                                                                            showCancelButton: true,
                                                                            confirmButtonText: 'Submit',
                                                                            cancelButtonText: 'Cancel',
                                                                        });
                                                                
                                                                        if (result.isConfirmed) {
                                                                            var houseNameInput = document.getElementById("houseName").value
                                                                            var streetNameInput = document.getElementById('streetName').value
                                                                            var cityInput = document.getElementById('city').value
                                                                            var stateInput = document.getElementById('state').value
                                                                
                                                                            
                                                                            if (!houseNameInput.trim() || !streetNameInput.trim() || !cityInput.trim() || !stateInput.trim()) {
                                                                                
                                                                                Swal.fire({
                                                                                    icon: "Error",
                                                                                    title: "Validation Error",
                                                                                    text: "Please fill in all fields",
                                                                                    icon: "error",
                                                                                    confirmButtonText: "OK",
                                                                                });
                                                                                return;
                                                                            }
                                                                
                                                                            const AddressData = {
                                                                                houseName: houseNameInput,
                                                                                streetName: streetNameInput,
                                                                                cityName: cityInput,
                                                                                state: stateInput,
                                                                                id: AddressId
                                                                            };
                                                                
                                                                            console.log(AddressData);
                                                                
                                                                            try {
                                                                                const response = await fetch(`/editAddressfields?AddressData=${JSON.stringify(AddressData)}`, {
                                                                                    method: "GET",
                                                                                });
                                                                
                                                                                if (!response.ok) {
                                                                                    throw new Error("Internal server Error");
                                                                                }
                                                                
                                                                                const data = await response.json();
                                                                                console.log(data);
                                                                                window.location.reload()
                                                                            } catch (error) {
                                                                                console.log(error.message);
                                                                            }
                                                                        }
                                                                    }
                                                                </script>
                                                                
                                                                <% } %>
                                                                    <% } %>



                                                                        <script>

                                                                            const cardHeaders = document.querySelectorAll('.containerheader');


                                                                            cardHeaders.forEach(header => {

                                                                                header.addEventListener('mouseenter', () => {
                                                                                    const deleteButton = header.querySelector('.delete-btn');
                                                                                    deleteButton.classList.remove('d-none');
                                                                                });


                                                                                header.addEventListener('mouseleave', () => {
                                                                                    const deleteButton = header.querySelector('.delete-btn');
                                                                                    deleteButton.classList.add('d-none');
                                                                                });
                                                                            });
                                                                        </script>
                                                                        <script>

                                                                            const deleteButton = document.querySelectorAll(".delete-btn");
                                                                            deleteButton.forEach(button => {
                                                                                button.addEventListener("click", function () {
                                                                                    const index = (this.getAttribute("data-index"))
                                                                                    deleteAddress(index);
                                                                                })
                                                                            })




                                                                            async function deleteAddress(index) {




                                                                                try {
                                                                                    console.log(index);
                                                                                    const response = await fetch(`/deleteAddress?index1=${index}`, {
                                                                                        method: "GET",
                                                                                    })
                                                                                    if (!response) {
                                                                                        throw new Error("internal server error")
                                                                                    }
                                                                                    const data = await response.json()
                                                                                    console.log(data);
                                                                                    window.location.reload()



                                                                                } catch (error) {

                                                                                    console.log(error.message)

                                                                                }
                                                                            }
                                                                        </script>






                                                                        <script>
                                                                            async function updateAddressStatus(index) {
                                                                                console.log(index);

                                                                                try {
                                                                                    const response = await fetch(`/updateAddressStatus?index=${index}`, {
                                                                                        method: "GET"
                                                                                    });

                                                                                    if (!response.ok) {
                                                                                        throw new Error("Internal server error");
                                                                                    }

                                                                                    const data = await response.json();
                                                                                    console.log(data);
                                                                                    window.location.reload()
                                                                                } catch (error) {
                                                                                    console.error(error.message); // Log any errors that occur during the fetch request
                                                                                }
                                                                            }
                                                                        </script>



                                                                        <div class="col-lg-6">
                                                                            <div class="card">
                                                                                <div class="card-header">
                                                                                    <h5 class="mb-0">Add Address</h5>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <!-- <address><br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address> -->
                                                                                    <!-- <p>Sarasota</p> -->
                                                                                    <div
                                                                                        class="align-items-center text-center ">
                                                                                        <span
                                                                                            class="fa fa-plus-circle f5 text-center p-4 mb-2"
                                                                                            style="cursor: pointer; font-size: 100px;"
                                                                                            onclick="addAddress()"></span>
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    async function addAddress() {
                                                        const result = await Swal.fire({
                                                            title: "Enter  Address",
                                                            html:
                                                                '<input id="houseName" class="swal2-input" placeholder="House Name">' +
                                                                '<input id="streetName" class="swal2-input" placeholder="Street Name">' +
                                                                '<input id="city" class="swal2-input" placeholder="City">' +
                                                                '<input id="state" class="swal2-input" placeholder="State">',
                                                            showCancelButton: true,
                                                            confirmButtonText: 'Submit',
                                                            cancelButtonText: 'Cancel',


                                                            preConfirm: () => {
                                                                return {
                                                                    houseName: document.getElementById('houseName').value,
                                                                    streetName: document.getElementById('streetName').value,
                                                                    city: document.getElementById('city').value,
                                                                    state: document.getElementById('state').value
                                                                }
                                                            }


                                                        })

                                                        if (result.isConfirmed) {
                                                            const address = result.value;
                                                            console.log(address)
                                                            console.log(address.city)


                                                            try {


                                                                const response = await fetch(`/addAddress`, {
                                                                    method: "POST",
                                                                    headers: {

                                                                        "content-Type": "application/json"
                                                                    },
                                                                    body: JSON.stringify({ address })
                                                                })

                                                                if (!response) {
                                                                    throw new Error("internal server Error")
                                                                }
                                                                const data = await response.json({})

                                                            } catch (error) {

                                                            }


                                                        }
                                                    }



                                                </script>




                                                <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                                    aria-labelledby="account-detail-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Account Details</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <p>Already have an account? <a
                                                                    href="page-login-register.html">Log in instead!</a>
                                                            </p>
                                                            <form method="post" name="enq" action="/newpasswordchange"
                                                                onsubmit="return validateForm()">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label>YOUR NAME<span
                                                                                class="required">*</span></label>
                                                                        <input id="name" class="form-control square"
                                                                            name="name" type="text"
                                                                            value="<%=userDetails?.name%>">
                                                                    </div>

                                                                    <div class="form-group col-md-6">
                                                                        <label>Email Address <span
                                                                                class="required"></span></label>
                                                                        <input disabled class="form-control square"
                                                                            name="email" type="email"
                                                                            value="<%= userDetails?.email %>">
                                                                    </div>

                                                                    <!-- <div class="form-group col-md-6">
                                                            <label>Current Password <span ></span></label>
                                                            <div class="input-group">
                                                                <input required="" class="form-control square" name="password" type="password" id="currentPassword">
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-success" id="btnChangePassword" disabled onclick="displayfields()">Change password</button>
                                                                </div>
                                                            </div>
                                                        </div> -->

                                                                    <div class="form-group col-md-6">
                                                                        <label>Save Changes<span
                                                                                class=""></span></label>
                                                                        <div class="input-group">
                                                                            <button type="button"
                                                                                class="btn btn-success" id="btnSaveName"
                                                                                onclick="SaveName()">Save Name</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <script>
                                                                    async function SaveName() {
                                                                        const name = document.getElementById("name").value;
                                                                        console.log(name);
                                                                        const response = await fetch(`/updateName?name=${name}`, {
                                                                            method: "GET",
                                                                        })
                                                                        if (!response) {
                                                                            throw new Error("internal Server Error")
                                                                        }
                                                                        const data = await response.json()
                                                                        console.log(data);
                                                                        window.location.reload()

                                                                        name.textcontent = data;
                                                                        Swal.fire({
                                                                            title: "Username Saved"
                                                                        })


                                                                    }
                                                                </script>





                                                                <div class="passwordFields">
                                                                    <div class="d-none">

                                                                        <div class="form-group col-md-12">
                                                                            <label>New Password <span></span></label>
                                                                            <input required="" class="" name="npassword"
                                                                                type="password" id="npassword">
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label>Confirm Password
                                                                                <span>*</span></label>
                                                                            <input required=""
                                                                                class="form-control square"
                                                                                name="cpassword" type="password"
                                                                                id="cpassword">
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <button type="submit"
                                                                                class="btn btn-fill-out submit"
                                                                                name="submit"
                                                                                value="Submit">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <script defer>
                                                                    let timeoutId;

                                                                    const currentPassword = document.getElementById("currentPassword").addEventListener("input", function () {



                                                                        clearTimeout(timeoutId)

                                                                        timeoutId = setTimeout(() => sendRequest(), 2000)



                                                                    })



                                                                    async function sendRequest() {
                                                                        const currentPassword = document.getElementById("currentPassword").value;
                                                                        console.log(currentPassword)
                                                                        const currentPasswordfield = document.getElementById("currentPassword")


                                                                        const response = await fetch("/currentPassword", {
                                                                            method: "post",
                                                                            headers: {
                                                                                "content-Type": "application/json"
                                                                            },
                                                                            body: JSON.stringify({ password: currentPassword })
                                                                        })
                                                                        if (!response) {
                                                                            throw new Error("internl server error")

                                                                        }
                                                                        const data = await response.json();
                                                                        console.log(data)
                                                                        if (data.data == false) {
                                                                            console.log("false")
                                                                            currentPasswordfield.style.border = "2px solid red";
                                                                            currentPasswordfield.style.borderBottomColor = "red !important"


                                                                        } else if (data.data == true) {
                                                                            console.log("green")

                                                                            currentPasswordfield.style.border = "2px solid green";
                                                                            currentPasswordfield.style.borderBottomColor = "green !important"
                                                                            document.getElementById("btns").removeAttribute("disabled")


                                                                        }
                                                                    }

                                                                    async function displayfields() {
                                                                        const elements = document.getElementsByClassName("d-none");
                                                                        Array.from(elements).forEach(element => {
                                                                            element.classList.remove("d-none");
                                                                        });



                                                                    }
                                                                    function validateForm() {
                                                                        const newpassword = document.getElementById("npassword").value
                                                                        const currentPassword = document.getElementById("cpassword").value


                                                                        if (newpassword.length < 6) {
                                                                            Swal.fire({
                                                                                icon: "warning",
                                                                                title: "Atleast 6 digit password required"

                                                                            })

                                                                            return false
                                                                        } if (newpassword !== currentPassword) {
                                                                            Swal.fire({
                                                                                icon: "warning",
                                                                                title: "password is not matching"

                                                                            })
                                                                            return false


                                                                        }
                                                                        return true

                                                                    }          
                                                                </script>
                                                        </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </section>










                </main>
                <footer class="main">
                    <section class="newsletter p-30 text-white wow fadeIn animated">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7 mb-md-3 mb-lg-0">
                                    <div class="row align-items-center">
                                        <div class="col flex-horizontal-center">
                                            <img class="icon-email" src="/assets/imgs/theme/icons/icon-email.svg"
                                                alt="">
                                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                                        </div>
                                        <div class="col my-4 my-md-0 des">
                                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for
                                                    first shopping.</strong></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <!-- Subscribe Form -->
                                    <form class="form-subcriber d-flex wow fadeIn animated">
                                        <input type="email" class="form-control bg-white font-small"
                                            placeholder="Enter your email">
                                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                                    </form>
                                    <!-- End Subscribe Form -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-padding footer-mid">
                        <div class="container pt-15 pb-20">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                                        <div class="logo logo-width-1 wow fadeIn animated">
                                            <a href="index.html"><img
                                                    src="https://www.thesouledstore.com/static/img/newlogo.8dcc6cc.png"
                                                    alt="logo"></a>
                                        </div>
                                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                        <p class="wow fadeIn animated">
                                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                                        </p>
                                        <p class="wow fadeIn animated">
                                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                                        </p>
                                        <p class="wow fadeIn animated">
                                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                                        </p>
                                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                            <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg"
                                                    alt=""></a>
                                            <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                            <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg"
                                                    alt=""></a>
                                            <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg"
                                                    alt=""></a>
                                            <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <h5 class="widget-title wow fadeIn animated">About</h5>
                                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Support Center</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2  col-md-3">
                                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                                    <ul class="footer-list wow fadeIn animated">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="#">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Order</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                                    <div class="row">
                                        <div class="col-md-8 col-lg-12">
                                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                                            <div class="download-app wow fadeIn animated">
                                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                                        src="/assets/imgs/theme/app-store.jpg" alt=""></a>
                                                <a href="#" class="hover-up"><img
                                                        src="/assets/imgs/theme/google-play.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                            <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="container pb-20 wow fadeIn animated">
                        <div class="row">
                            <div class="col-12 mb-20">
                                <div class="footer-bottom"></div>
                            </div>
                            <div class="col-lg-6">
                                <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                                        class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="text-lg-end text-start font-sm text-muted mb-0">
                                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All
                                    rights reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Preloader Start -->
                <div id="preloader-active">
                    <div class="preloader d-flex align-items-center justify-content-center">
                        <div class="preloader-inner position-relative">
                            <div class="text-center">
                                <h5 class="mb-5">Now Loading</h5>
                                <div class="loader">
                                    <div class="bar bar1"></div>
                                    <div class="bar bar2"></div>
                                    <div class="bar bar3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Vendor JS-->
                <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
                <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
                <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
                <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
                <script src="/assets/js/plugins/slick.js"></script>
                <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
                <script src="/assets/js/plugins/wow.js"></script>
                <script src="/assets/js/plugins/jquery-ui.js"></script>
                <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
                <script src="/assets/js/plugins/magnific-popup.js"></script>
                <script src="/assets/js/plugins/select2.min.js"></script>
                <script src="/assets/js/plugins/waypoints.js"></script>
                <script src="/assets/js/plugins/counterup.js"></script>
                <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
                <script src="/assets/js/plugins/images-loaded.js"></script>
                <script src="/assets/js/plugins/isotope.js"></script>
                <script src="/assets/js/plugins/scrollup.js"></script>
                <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
                <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
                <!-- Template  JS -->
                <script src="/assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

</html>